# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently.
  - They're important because they help us solve problems faster, use memory more efficiently, and make computer programs run smoother.

2.  Explain the difference between mutable and immutable data types with examples?
  - Mutable data types can be changed or modified after they are created, while immutable data types cannot be changed once they are created.
  - **Mutable can be changed**
  List in Python is mutable. You can add, remove, or modify elements after the list is created.
```
my_list = [1, 2, 3]
my_list[0] = 4  # Now the list is [4, 2, 3]
```
  - **Immutable cannot be changed** Tuple in Python is immutable. Once a tuple is created, you can't modify its elements
```
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This will raise an error
```

3. What are the main differences between lists and tuples in Python?
  - In Python, the main differences between lists and tuples are that lists are mutable, while tuples are immutable.

4. Describe how dictionaries store data?
  - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
  - A set automatically removes duplicates. If you only care about unique values, a set is a good choice.
```
Example: my_set = {1, 2, 3, 3} becomes {1, 2, 3}
```
  - Sets are unordered, meaning you can't access elements by index like in a list. Use a set when order doesn’t matter and you need uniqueness or faster lookups.

6. What is a string in Python, and how is it different from a list?
  - A string in Python is a sequence of characters enclosed in single (') or double (") quotes. It is used to store text data.
  - A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python because they are immutable, meaning once a tuple is created, its data cannot be changed, added, or removed. This helps to protect the data from accidental modifications, ensuring that the values inside the tuple remain constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in a way that allows for fast access using a key. It works by applying a hash function to the key, which converts it into a unique index where the associated value is stored. This makes looking up, adding, or removing values very efficient.
  - In Python, dictionaries are implemented using hash tables. When you use a dictionary, the keys are hashed to determine where the values are stored. This allows for quick lookups based on the key.

9.  Can lists contain different data types in Python?
  - Yes

10. Explain why strings are immutable in Python?
  - Strings are immutable in Python because to make them faster and safer. When a string is created, it stays the same throughout the program. This prevents accidental changes to the string, which can avoid bugs and makes string handling more efficient.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are ideal when you need fast access to data and to store items that are related in a key-value format.

12. Describe a scenario where using a tuple would be preferable over a list?
  - A scenario where using a tuple would be preferable over a list is when you have a fixed collection of data that should not be modified, such as representing coordinates (latitude, longitude) or storing immutable configuration values.
  -

13.  How do sets handle duplicate values in Python?
  - Sets in Python automatically remove duplicate values. When you try to add a duplicate item to a set, it simply won't be added.

14. How does the “in” keyword work differently for lists and dictionaries?
  - For lists, "in" checks for a value.
  - For dictionaries, "in" checks for a key.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot modify the elements of a tuple in Python because tuples are immutable, meaning once they are created, their contents cannot be changed, added, or removed. This immutability ensures that the data remains consistent and safe from accidental modifications.

16.  What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary where the value associated with a key is itself another dictionary. This allows you to store more complex data structures within a dictionary.
  ```
  student_info = {
    "Alice": {"age": 25, "major": "Computer Science", "grade": "A"},
    "Bob": {"age": 22, "major": "Mathematics", "grade": "B"}
}
```

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary in Python generally has an average time complexity of O(1), meaning it takes constant time regardless of the size of the dictionary because in Python dictionaries are implemented using a hash table.

18. In what situations are lists preferred over dictionaries?
  - Use lists when you care about the order of items or when you have a simple collection of values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries in Python are considered unordered because the order in which key-value pairs are stored is not guaranteed. This is due to the underlying hash table implementation, where keys are hashed, and the data is stored based on those hash values rather than in any specific sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - In a list, data is retrieved by index, meaning you access elements based on their position (e.g., my_list[0]). You can access by index (position-based).
  - In a dictionary, data is retrieved by key, meaning you access values using a unique key (e.g., my_dict["key"]). You can access by key (key-value pair-based).

# **Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it?

name = ("Sayed Taha Ali")
print(name)

Sayed Taha Ali

In [4]:
# 2. Write a code to find the length of the string "Hello World"?

len_gth = ("Hello World")
print(len(len_gth))

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?

slic_e = ("Python Programming")
print(slic_e[0:3])

Pyt

In [12]:
# 4. Write a code to convert the string "hello" to uppercase?

upp_er = ("hello")
upp_er.upper()
print(upp_er)

hello

In [11]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str_ing = "I like apple"
str_ing.replace("apple", "orange")
print(str_ing)

I like apple

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [13]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [16]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]?

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [17]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [18]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

In [22]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [24]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

my_tuple = ('dog', 'cat', 'rabbit')
index_cat = my_tuple.index("cat")
print(index_cat)

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

fruits = ('apple', 'banana', 'grapes')
kiwi_in = 'kiwi' in fruits
print(kiwi_in)

False

In [26]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it?

my_set = {"a", "b", "c"}
print(my_set)

{'b', 'c', 'a'}

In [27]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [28]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [30]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [31]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [32]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

my_dict = {"name": "Sayed Taha Ali", "age": 25, "city": "Patna"}
print(my_dict)

{'name': 'Sayed Taha Ali', 'age': 25, 'city': 'Patna'}

In [33]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

my_dict = {'name': 'Alice', 'age': 30}
my_name = my_dict['name']
print(my_name)

Alice

In [37]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [38]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

In [39]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all?

# list
my_list = [1, 2, 3, 4, 5]

# tuple
my_tuple = (10, 20, 30)

# dictionary
my_dict = {'name': 'Sayed Taha Ali', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Sayed Taha Ali', 'age': 25}

In [42]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

import random
random_num = []

for i in range(5):
    random_num.append(random.randint(1, 100))
random_num.sort()
print(random_num)

[20, 23, 36, 50, 89]

In [43]:
# 28.  Write a code to create a list with strings and print the element at the third index?

my_list = ["patna", "delhi", "banglore", "gaya", "varanasi"]
print(my_list[3])

gaya

In [45]:
# 29. Write a code to combine two dictionaries into one and print the result?

dict1 = {'name': 'Sayed Taha Ali', 'age': 25}
dict2 = {'city': 'Patna', 'country': 'India'}

combine_dict = {**dict1, **dict2}
print(combine_dict)

{'name': 'Sayed Taha Ali', 'age': 25, 'city': 'Patna', 'country': 'India'}

In [46]:
# 30. Write a code to convert a list of strings into a set?

my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}